header{
box-shadow: 5px 10px 8px #888888;
background-color: #ffcccc;
text-align: center;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 5px
}

body{
    background-color: #ffe6e6
    ;
}

th{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.js-calc-table{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.js-equation-btns{
    text-align: center;
    padding-top: 10px;
}

.js-input-value{
    text-align: center;
    padding-top: 30px;
}